# python
__pycache__/
*.pyc
.venv/
.python-version

# macos
.DS_Store

# ide
.vscode/
.idea/

# env
.env

# data (grande, no versionar)
data/

# trained model weights
models/

# training logs
*.log

# ultralytics pretrained cache
yolov8n-seg.pt
